html, body{
	height:100%;
}
#map{
	width:100%;
	height:50%;
	background-color:#CCC;
}

#lon,#lat{
	display:none;
}

#tituloModal,#tituloModal2{
	font-family: 'Lobster', cursive;
}

#imagenModal{
	height:auto;
	width:auto;
}

#juegoEstilo{
	height:80%;
	width:100%;
}
#videOrgano{
	width : 100%;
	height: 100%; 
}